<div ng-controller="adminCtrl">
    <div class="col s12">
        <ul tabs class="tabs-fixed-width">
            <li class="tab col s3"><a ng-class='{"active":isButtonActive==false}'href="#test1">DashBoard</a></li>
            <li class="tab col s3"><a href="#test2">Shopkeeper</a></li>
            <li class="tab col s3"><a href="#test3">Consumer</a></li>
            <li class="tab col s3"><a href="#test4">Reg.Category</a></li>
            <li class="tab col s3"><a ng-class='{"active":isButtonActive==true}' href="#test5">Notifications</a></li>
            <li class="tab col s3"><a href="#test6">Phone Diary</a></li>
        </ul>
    </div>


    <div class="conainer " style="height: 500px;width:60%;margin: auto ">
        <div id="test1" class="col s12 " style="margin-top: 5%">
            <div class="progress" ng-if="chartFlag">
                <div class="indeterminate"></div>
            </div>
            <nvd3 options="options" data="data"></nvd3>
        </div>


        <div id="test2" class="card col s10 offset-s1" style="">

            <div class="progress row" ng-if="shopFlag">
                <div class="indeterminate"></div>
            </div>
            <div class="col s12" input-field="">
                <h6 class="col s12 l4 offset-l2" style="text-align: center">Select Shopkeeper</h6>
                <div
                        class="col s12 l4" style=" max-width:50%;margin:auto">
                    <select style="max-width: 20%" ng-model="select.value"
                            ng-options="value._id as value.shopName for value in select.choices" material-select watch
                            ng-change="loadDetail()">
                        <!--<option ng-repeat="value._id as valuse.shopName for value in select.choices">{{value}}</option>-->
                    </select></div>

            </div>
            <div class="row"></div>
           <div class="card-image waves-effect waves-block waves-light " >
                        <img class="" src={{shop.pic}} alt="user background" width="" height="233px">
                            
                        
                     </div>
            <figure class="card-profile-image" style="position: absolute; margin-top: 25%"
                    dropdown>
                <img  height="150px" width="150px" ng-src={{shop.backPic}} alt="profile image" class="circle z-depth-2 responsive-img">
            </figure>
            
            <div class="card-content">
                <div class="row">
                    <div class="col l2 s12   center-align">
                        <p style="font-size: 18px" class=" grey-text text-darken-4">{{shop.firstName}}</p>
                        <p class="medium-small grey-text">Name</p>
                    </div>
                    <div class="col l3 s12 center-align">
                        <p style="font-size: 18px" class=" grey-text text-darken-4">{{shop.phoneNumber}}</p>
                        <p class="medium-small grey-text">Phone Number</p>
                    </div>
                    <div class="col l3 s12 center-align">
                        <p style="font-size: 18px" class=" grey-text text-darken-4">{{shop.emailId}}</p>
                        <p class="medium-small grey-text">Email ID</p>
                    </div>
                    <div class="col l2 s12 center-align">
                        <p style="font-size: 18px;color: green" class=" grey-text text-darken-4"><span
                                ng-if="shop.approve==true">Approved</span>
                            <span ng-if="shop.approve==false" style="color: red">Not Approved</span>
                        <p class="medium-small grey-text">Status</p>
                    </div>
                    <div class="col l1 s1 center-align" style="">
                        <p style="font-size: 18px"><a class="btn btn-floating pulse purple"
                                                      href="#/pages/eprofile/{{shop._id}}"><i class="material-icons">menu</i></a>
                        </p>
                    </div>
                    <div class="col s1 l1 " style="margin-top: -5% ">
                        <a class="btn btn-floating pulse activator waves-effect waves-light darken-2 right purple">
                            <!-- <i class="fa fa-pencil-square-o"></i> -->
                            <i class="material-icons">edit</i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="card-reveal" style="display: none; transform: translateY(0px);">
                <p>
                    <span class="card-title grey-text text-darken-4"> <i class="fa fa-times"
                                                                         style="float:right"></i></span>
                </p>
                <div class="row">
                    <div class="col l6 s12 offset-l3">
                        <div input-field="">
                            <input type="text" ng-model="shop.shopName" length="150">
                            <label>Shop Name</label>
                        </div>
                        <div input-field="" style="display: inline">
                            <input type="text" ng-model="shop.firstName" length="150">
                            <label>Shopkeeper Name</label>
                        </div>
                        <div input-field="">
                            <input type="text" ng-model="shop.emailId" length="150">
                            <label>Email ID</label>
                        </div>
                        <div input-field="">
                            <input type="text" ng-model="shop.phoneNumber" length="150">
                            <label>Phone Number</label>
                        </div>
                        <div input-field="">
                            <input type="text" ng-model="shop.address1" vs-google-autocomplete
                                   vs-latitude="shop.address.lat"
                                   vs-longitude="shop.address.long" id="add-name" type="text" class="validate"
                                   length="150">
                            <label>Address</label>
                        </div>
                        <div class="switch">
                            <label>
                                Not Approved
                                <input type="checkbox" ng-model="shop.approve" ng-change="changeApproval()">
                                <span class="lever"></span>
                                Approved
                            </label>
                        </div>
                        <div input-field="">
                            <button class="waves-effect waves-light btn" ng-click="updateProfile()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="test3" class="col s12">Test 3</div>
        <div id="test4" class="col s12" style="width: 50%;margin: auto">

            <div class="col s12">
                <ul tabs reload="allTabContentLoaded">
                    <li class="tab col s6"><a class="active" href="#cat1">Create</a></li>
                    <li class="tab col s6"><a href="#cat2">Edit</a></li>
                </ul>
            </div>
            <div id="cat1" class="col s12">
                <div input-field="">
                    <input type="text" ng-model="create.add1" length="150">
                    <label>Add Category</label>
                </div>
                <button type="button" class="btn" ng-click="addCat()">Add</button>
                <br>
                <br>
                <div input-field="">
                    <input type="text" id="in" ng-model="e.newCat">
                    <label for="in">Edit</label>
                </div>
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Categories</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="l in getData.select ">
                            <td>{{l.name}}</td>
                            <td><button class="btn" ng-click="editCat(l)" >Edit</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
            <div id="cat2" class="col s12">
             <span>
                <select style="width: 20%" ng-model="edit.selectCat"
                        ng-options="value._id as value.name for value in getData.select" material-select watch
                        ng-change="loadSubCat()">
                    <!--<option ng-repeat="value._id as valuse.shopName for value in select.choices">{{value}}</option>-->
                </select></span>

                <div input-field="">
                    <input type="text" ng-model="edit.listText" length="150">
                    <label>Add Category</label>
                </div>
                <button type="button" class="btn " ng-click="editAdd()">Add</button>

                <table class="responsive-table striped">
                    <thead>
                    <tr>
                        <th>Sub Category</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in showList track by $index">
                        <td>{{data}}</td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" class="btn " ng-click="submitNew()">Submit</button>

            </div>
        </div>
    <div id="test5" class="col s12">

        <div class="container">
            <div class="row col s12 l12">
                <div class="col s12 l4">
                 <table class="responsive-table  highlight">
                     <thead>
                     <tr>
                         <th>Shopkeeper Logs</th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr style="font-size: 14px" ng-repeat="data in shopkeeperLogs">
                         <td>
                             {{data.firstName}} {{data.lastName}} is Joined On {{data.createdAt |  date:'mediumDate'}}
                         </td>
                     </tr>
                     </tbody>
                 </table>
                </div>
                <div class="col s12 l4">
                 <table class="responsive-table  highlight">
                     <thead>
                     <tr>
                         <th>Consumer Logs</th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr style="font-size: 14px" ng-repeat="data in consumerLogs">
                         <td>
                             {{data.firstName}} {{data.lastName}} is Joined On {{data.createdAt |  date:'mediumDate'}}
                         </td>
                     </tr>
                     </tbody>
                 </table>
                </div>
                <div class="col s12 l4 ">
                    <table class=" responsive-table highlight">
                     <thead>
                     <tr>
                         <th>Product Logs</th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr style="font-size: 14px" ng-repeat="data in productLogs">
                         <td>
                             Name:{{data.name}}
                             Price:{{data.price}}
                             Category:{{data.category}}
                             Upload By:{{data.uploadBy}}
                         </td>
                     </tr>
                     </tbody>
                 </table>
                </div>

            </div>

        </div>

        </div>

<div id="test6" class="row" style="margin-top: 5%">


    <div class="col s12">
        <ul tabs class="tabs-fixed-width">
            <li class="tab col s3 active"><a href="#test13">Add Numbers</a></li>
            <li class="tab col s3"><a href="#test14">Categories</a></li>
        </ul>
    </div>


<div id="test13">
   <div  class="col s12 l12 ">
       <br>
       <br>

<div  class="center">
    <a class='btn' ng-click="arrMemberAdded1=[]" data-target='demoModal'  modal>Add New</a>
</div>
<!-- Modal Structure -->
<div id="demoModal" class="modal">
 <form class="form-register" method="post" name="addNew" ng-submit="signUp()" novalidate >
    <div class="modal-content">
    <div input-field="" class="col s12 l3">
        <input type="text"   ng-model="dataM.name" required>
        <label>Name</label>
    </div>
    <div input-field="" class="col s12 l3">
        <input type="text" maxlength="15" ng-model="dataM.number"  required>
        <label>Number</label>
    </div>
        <div input-field="" class="col s12 l3">
            <select class="" ng-model="dataM.cat" ng-options="value as value.category for value in loadMe" material-select watch ng-change="changebank()">
                <!--<option ng-repeat="value in loadMe">{{value.category}}</option>-->
            </select>
        </div>
        <div input-field="" class="col s12 l2">
            <select class="" ng-model="dataM.sub" material-select watch>
                <option ng-repeat="value in subBank ">{{value.subcategory}}</option>
            </select>
        </div>
    <div class="col s12 l1"  style="margin-top: 4%;">
        <a class="btn-floating btn-large waves-effect waves-light red" ng-disabled="addNew.$invalid" ng-click="addNewMember()" ><i class="material-icons">add</i></a>

        <!--<a  class=" modal-action waves-effect waves-green btn" ng-disabled="addNew.$invalid"ng-click="addNewMember()" >Add</a>-->
        </div>
    </div>
      <div class="col s12 l12">
       <div class="responsive-table ">
                <table class=" centered highlight">
                <thead>
                  <tr >
                      <th>Name</th>
                      <th>Number</th>
                      <th>Category</th>
                      <th>Sub Category</th>
                      <th>Edit</th>
                  </tr>
                </thead>

                <tbody>
                  <tr ng-repeat=" i in arrMemberAdded1">
                    <td>{{i.name}}</td>
                    <td>{{i.number}}</td>
                    <td>{{i.cat}}</td>
                    <td>{{i.sub}}</td>
                    <td><a  class=" waves-effect waves-green btn btn-floating" ng-click="editNewC($index, i)" ><i class="material-icons">edit</i></a></td>
                  </tr>
                </tbody>
              </table>

        </div>
       </div>


    <div class="modal-footer col s12 l12 ">
        <a  class=" modal-action  modal-close waves-effect waves-green btn" ng-disabled="!arrMemberAdded1.length" ng-click="submitMemArr()">Submit</a>
    </div>
 </form></div>
</div>
   <div class="col s12 l12">
       <div class="responsive-table ">
       <div >
        <table class="centered highlight">
        <thead>
          <tr >
              <th>Name</th>
              <th>Number</th>
              <th>Category</th>
              <th>Sub Category</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat=" i in arrMemberAdded">
            <td>{{i.name}}</td>
            <td>{{i.number}}</td>
            <td>{{i.Cat}}</td>
            <td>{{i.subCat}}</td>
          </tr>
        </tbody>
      </table>

</div>
       </div>
<div>   
</div>

       
   </div>
</div>
<div id="test14" >
    <h5 class="margin-bottom">Create Categories</h5>
    <div class="row l12">
        <div class="col l6">
            <div ng-repeat="cati in categories">
                <div class="input-group">
                    <a class="btn red" ng-click="removeItem($index)"><i class="material-icons">remove</i></a>
                    <a class="btn green" ng-if="cati.subcategories.length>0" ng-click="cati.subcategories.push({'subcategory':''})"><i class="material-icons">add</i></a>
                    <a ng-if="!cati.subcategories"  class="btn green" ng-click="cati.subcategories=[{'subcategory':''}]"><i class="material-icons">add</i></a>
                    <div style="display: inline;width: 30%" input-field="">
                        <input style="display: inline;width: 30%" type="text" ng-model="cati.category"  ng-change="activateSave()">
                        <label>Add Category</label>
                    </div>
                </div>
                <div class="input-group subs" ng-repeat="sub in cati.subcategories">
                    <a class=" btn cyan" ng-click="removeSub(cati,$index)"><i class="material-icons">remove</i></a>
                    <div input-field="">
                        <input style="display: inline;width: 30%" type="text" ng-model="sub.subcategory" ng-change="activateSave()">
                        <label>Add Sub Category</label>
                    </div>
                </div>
            </div>

            <a class="btn purple" ng-click="categories.push({'category':''})"><i class="material-icons">subject</i></a>

            <a class="btn blue" ng-click="saveScope()" ng-show="saveState"><i class="material-icons">send</i></a>
        </div>
        <div class="col l6">

            <table>
                <thead>
                <tr>
                    <th>Categories</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="m in loadMe">
                 <td>
                    {{m.category}}
                 </td>
                    <td>
                        <button ng-click="removeDCat(m)" class="btn">Remove</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>   
</div>

    <style> .card-image {
        position: absolute;
    }

    .card-profile-image {
        position: absolute;
        top: 25px;
        left: 25px;
        z-index: 2;
    } </style>

