
<div class="row" ng-controller="eprofileCtrl">
    <div class="card" style="width: 80%;margin: auto; margin-top: 2%">
        <div class="card-image waves-effect waves-block waves-light " >
                        <img class="" src={{shopk.pic}} alt="user background" width="" height="233px">
                     </div>
        <figure class="card-profile-image" style="position: absolute; margin-top: 10%"  dropdown>
            <img src={{shopk.backPic}} height="150px" width="150px" alt="profile image" class="circle z-depth-2 responsive-img">
        </figure>
        
        <div class="card-content" >
            <div class="row">
                <div class="col l2 s12 offset-l2  center-align">
                    <h6 class=" grey-text text-darken-4">{{shopk.shopName}}</h6>
                    <p class="medium-small grey-text">Shop Name</p>
                </div>
                <div class="col l2 s12   center-align">
                    <h6 class=" grey-text text-darken-4">{{shopk.firstName}}</h6>
                    <p class="medium-small grey-text">Owner Name</p>
                </div>
                <div class="col l2 s12 center-align">
                    <h6 class=" grey-text text-darken-4">{{shopk.phoneNumber}}</h6>
                    <p class="medium-small grey-text">Phone Number</p>
                </div>
                <div class="col l2 s12  center-align">
                    <h6 class=" grey-text text-darken-4">{{shopk.emailId}}</h6>
                    <p class="medium-small grey-text">Email ID</p>
                </div>
                <div class="col l2 s12 center-align">
	            <span class="flow-text">
	            	<h6 class=" grey-text text-darken-4">{{shopk.address1}}</h6></span>
                    <p class="medium-small grey-text">Address</p>
                </div>

            </div>
        </div></div>

    
    <div class="progress row" ng-if="shopFlag">
        <div class="indeterminate"></div>
    </div>
 
    <div style="width:82%; margin: auto;" >
     <div ng-repeat="p in profileProduct" >
         <div class="">
             <div class="col s12 l6">
                 <div class="card z-depth-2">
                     <div class="card-image " style="">
                            <div class="row">
                                <div class="col l3 hovereffect" ng-repeat="i in p.pImages">
                                 <img  ng-src={{i.url}} style="  " class="z-depth-2 responsive-img">
                                <div  class="overlay">
                                    <a class="btn-floating activator waves-effect waves-light darken-2 right red" ng-click="removePhoto(i.url,p.id)">
                                        <i class="material-icons">close</i>
                                    </a>
                                </div>
                                   
                                </div>
                            </div>
                     </div>
                     <div class="card-action" style="font-size: 10px;padding-left: -53%;padding-bottom: 0px;padding-top: 8px;padding-left: 0px;">
                         <div class="row">
                             <div class="col l4 s12   center-align">
                                 <h6 class=" grey-text text-darken-3">{{p.title}}</h6>
                                 <p class="medium-small grey-text">Product Name</p>
                             </div>
                             <div class="col l4 s12 center-align">
                                 <h6 class=" grey-text text-darken-4">{{p.pdata.category}}</h6>
                                 <p class="medium-small grey-text">Categoty</p>
                             </div>
                             <div class="col l3 s12  center-align">
                                 <h6 class=" grey-text text-darken-4">{{p.pdata.price}}</h6>
                                 <p class="medium-small grey-text">Price</p>
                             </div>
                             <div class="col l1 s1  s11 center-align">
                                 <a class="btn btn-floating pulse purple"
                                                               ng-click= "deleteCard(p)"><i class="material-icons">remove</i></a>
                                                              </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
</div>
</div>
</div>
<style> .card-image { position:absolute;  } .card-profile-image { position:absolute; top: 25px; left: 25px; z-index: 2; } 



</style>

