<div ng-controller="donCtrl">

    <div class="col s12">
        <ul tabs class="tabs-fixed-width">
            <li class="tab col s3"><a href="#test1">Receiver</a></li>
            <li class="tab col s3"><a href="#test2">Donor</a></li>
        </ul>
    </div>


    <div  class="container" style="width: 50%;margin: auto;margin-top: 3%">


        <div id="test1">
            <br>
            <h4>Receiver</h4>
            <br>
            <h5>Please verify you number before enquiry</h5>
            <br>
            <br>
            <br>
            <div id="demoModal" class="modal">
                <div class="modal-content">
                    <h4>Verify Otp</h4>
                    <p>Enter Otp</p>
                    <div input-field="" class="col l8">
                        <input id="verify" type="text" ng-model="recieve.otp" required>
                        <label for="verify">Otp</label>
                    </div>
                </div>
                <div class="modal-footer modal-close" style="display: inline">
                    <button ng-click="VerifyRec()" class="btn">Verify</button>
                </div>
            </div>


            <div ng-if="!formShow">

                <div class=" row col l12">
                    <div input-field="" class="col l8">
                        <input id="number" type="text" ng-model="recieve.number" required>
                        <label for="number">Number</label>
                    </div>

                    <div class="col l4">
                        <a class='btn' style="margin-top: 12%" data-target='demoModal' ng-click="verifySend()" modal>Send Otp</a>
                    </div>

                </div>
            </div>


            <form ng-submit="receive1()" ng-if="formShow">
                <div input-field="">
                    <input id="name" type="text" ng-model="recieve.name" required>
                    <label for="name">Name</label>
                </div>
                <div input-field="">
                    <textarea id="area" type="text" ng-model="recieve.message" required></textarea>
                    <label for="area">Message</label>
                </div>
                <div input-field>
                    <select id="sel" class="" ng-model="recieve.list"  ng-options="l._id as l.name for l in groupList"  material-select watch>
                    </select>
                    <label for="sel"></label>
                </div>

                <button class="btn" type="submit" >Send Query</button>

            </form>

        </div>
        <div id="test2">

            <br>
            <h4>Donor</h4>
            <br>
            <h5>Please verify you number before send details</h5>
            <br>
            <br>
            <br>

            <div ng-if="!formShow1">

                <div class=" row col l12">
                    <div input-field="" class="col l8">
                        <input id="number1" type="text" ng-model="donor.number" required>
                        <label for="number1">Number</label>
                    </div>

                    <div class="col l4">
                        <a class='btn' style="margin-top: 12%" data-target='demoModal1' ng-click="verifySend2()" modal>Send Otp</a>
                    </div>

                </div>
            </div>
            <div id="demoModal1" class="modal">
                <div class="modal-content">
                    <h4>Verify Otp</h4>
                    <p>Enter Otp</p>
                    <div input-field="" class="col l8">
                        <input id="verify2" type="text" ng-model="donor.otp" required>
                        <label for="verify2">Otp</label>
                    </div>
                </div>
                <div class="modal-footer modal-close" style="display: inline">
                    <button ng-click="VerifyRec2()" class="btn">Verify</button>
                </div>
            </div>

            <form ng-if="formShow1" ng-submit="receive2()">
                <div input-field="">
                    <input id="name2" type="text" ng-model="donor.name" required>
                    <label for="name2">Name</label>
                </div>
                <div input-field="">
                    <select id="sel2" class="" ng-model="donor.list"  ng-options="l._id as l.name for l in groupList"  material-select watch>
                    </select>
                </div>
                <button type="submit" class="btn">Send Details</button>
            </form>

        </div>
    </div>

</div>