<div class="center" style="background-color: #AB47BC;height: 64px;">
    <a class='dropdown-button btn' href='#' data-activates='dropdown1' style="display: inline-block;background-color: white;color: #ab47bc">Select Category</a>
    <input type="search" ng-model="search" value="" style="width: 50%;color: white" placeholder="Search" >
    <button class="btn waves-effect" type="button"  style="display: inline-block;background-color: white;color: #ab47bc">Search</button>

    <!-- Dropdown Structure -->
</div>
<ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>

</ul>

<h1></h1>