<div ng-controller="phoneDiaryCtrl" style="width: 50%;margin: auto" class="container">
<h4>Important Numbers</h4>
<br>
    <div class="input-field">
        <input id="search" type="search" ng-model="Search"  required>
        <label class="label-icon" for="search"><i class="material-icons">search</i>Search Name Here</label>
    </div>
<table class="striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Contact Number</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="data in diary |filter:Search">
        <td>{{data.name}}</td>
        <td>{{data.number}}</td>
    </tr>
    </tbody>
</table>

</div>