<style>
.signup-screen{
color: #AB47BC;
}
</style>

<div class="container" style="height: 450px;width: 50%" ng-controller="otpCtrl">
   <div id="signup">
      <div class="signup-screen">
         <div class="space-bot text-center">
            <h5>Verify Your Phone Number</h5>
           <div class="divider"></div>
         </div>
           <form class="form-register" method="post" name="register" ng-submit="otpSend()" novalidate >
            <div input-field >
                  <input id="first-name" type="text"  maxlength="10" class="validate" ng-model="otpData.mobileNo"  ng-required="true">
                  <label for="first-name">Mobile No.</label>
            </div>
            <div input-field ng-if="otpData.showOtpField">
              <input id="last-name" type="number" class="validate" ng-model="otpData.otp"  ng-required="otpData.showOtpField">
              <label for="last-name">Enter OTP</label>
             </div>
                <div class="space-top text-center">
                   <div ng-if="!otpData.showOtpField"><button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done" type="submit" >
                       <i class="fa fa-mobile" aria-hidden="true"></i> Send OTP
                   </button></div>
                  <div ng-if="otpData.showOtpField"> <button type="submit" ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done"  >
                        Submit
                   </button></div>
              </div>
          </form>
       </div>
    </div>
</div>