<style >.signup-screen {
      padding: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
    color: #ab47bc;
}
.container {
    max-width: 80%;
    height: 1000px;
    max-height: 100px;
    margin-top: 10px;
}


</style>

<div class="container" ng-controller="signupCtrl">
   <div id="signup">
      <div class="signup-screen">
         <div class="space-bot text-center">
            <h3>Registration</h3>
           <div class="divider"></div>
         </div>
           <form class="form-register" method="post" name="register" ng-submit="signUp()" novalidate >
            <div class="row">

            <div class="col m6 s12" input-field >
              <input id="last-name" type="text" class="validate" ng-model="userData.shopName"  ng-required="true">
              <label for="last-name">Shop Name</label>
             </div>

            </div>  <div class="row">
            <div class="col m6 s12" input-field >
              <input id="first-name" type="text" class="validate" ng-model="userData.firstName"  ng-required="true">
              <label for="first-name">First Name</label>
            </div>
            <div class="col m6 s12" input-field >
              <input id="last-name" type="text" class="validate" ng-model="userData.lastName"  nrequired="true">
              <label for="last-name">Last Name</label>
             </div>

            </div>
            <div class="row">
             <div input-field class="col m6 s12">
                  <input id="last-name" type="text" class="validate" ng-model="userData.phoneNumber"  maxlength="10" disabled="" ng-required="true">
                  <label for="last-name">Phone Number</label>
             </div>
             <div class="col m6 s12">
             <div  input-field >
              <input id="email" type="email" name="email" ng-model="userData.emailId"  >
              <label for="email">Email</label>
             </div>
             </div>
             </div>
             <div class="row">
             <div class="col m6 s12">
             <div input-field >
               <input id="password" type="password" name="password" ng-model="userData.password" ng-minlength='6' class="validate" >
                <label for="password">Password</label>
              </div>
              <p class="alert alert-danger" ng-show="form-register.password.$error.minlength || form.password.$invalid">Your password must be at least 6 characters.</p>
              </div>
              <div class="col m6 s12">
              <div input-field >
               <input id="rePassword" type="password" name="rePassword" ng-model="userData.rePassword" ng-minlength='6' nx-equal="userData.password" class="validate"  ng-required="true">
               <label for="password">Re-Password</label>
              </div>
              <p class="alert alert-danger" ng-show="form-register.rePassword.$error.nxEqual"> Passwords do not match.</p>
              </div></div>
              <!-- <div class="row">
                <div input-field class="col m12 s12">
                  <input id="add-name" type="text" class="validate" ng-model="userData.address"  ng-required="true">
                  <label for="add-name">Phone Number</label>
             </div>
              </div> -->
              <div class="row">
            <div input-field class="col m6 s12">
                  <input vs-google-autocomplete vs-latitude="userData.address.lat"
                         vs-longitude="userData.address.long" id="add-name" type="text" class="validate" ng-model="userData.address.name"  ng-required="true">
                  <label for="add-name">Address</label>
             </div>
               <div input-field class="col m6 s12">
                  <input id="pan" type="text" class="validate" ng-model="userData.panNo"  >
                  <label for="pan">Pan Number</label>
             </div>
             </div>
             <div class="row">
             <div input-field class="col m6 s12">
                  <input id="tin" type="text" class="validate" ng-model="userData.tinNo"  >
                  <label for="tin">Tin Number</label>
             </div> 
             <div input-field class="col m6 s12">
                <select placeholder="Select Category" class="" ng-model="userData.cat" material-select watch>
                    <option ng-repeat="value in cats">{{value.name}}</option>
                </select>
            </div>
              </div>
              <div class="space-top text-center ">
                   <button  style="color: #AB47BC;background-color: white" ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done" type="submit">
                       <i class="fa fa-space-shuttle" aria-hidden="true"></i>Done
                   </button>
                   <button  style="color: #AB47BC;background-color: white" type="button" class="waves-effect waves-light btn cancel" type="button" ng-click="clearfield()">
                       <i class="fa fa-ban" aria-hidden="true"></i>Cancel
                   </button>
              </div>
             </form>
           </div>
        </div>
    </div>
