<div ng-controller="uploadPro">
<div class="container" style="width:30%;margin: auto;margin-top: 5% ">
 <div class="row">
     <form>
        <input ng-model="productName" placeholder="Product Name" required>
        <input ng-model="productPrice" placeholder="Price" required>
         <select placeholder="Select Category" class="" ng-model="category" material-select watch>
             <option value="" >select category</option>
             <option ng-repeat="value in cats ">{{value}}</option>
         </select>
         <select class="" ng-model="subCategory" material-select watch>
             <option value="" >select Sub category</option>
             <option ng-repeat="value in cats ">{{value}}</option>
         </select>
     </form>
 </div>
 <div class="row">
     <button
             style="margin:auto;display:block"
             type="file"
             ngf-select
             ng-model="files"
             name="files"
             ngf-multiple="true"
             ngf-pattern="'image/*'"
             accept="image/*"
             ngf-max-size="20MB"
             class="btn btn-info"
     >Select Files</button>
 </div>
   <div class="row col l12">
       <div class="col l3" ng-repeat="f in files"  style="">
           <img class="panel panel-default" style="margin:auto;display: block; width:100%;height:120px;border: 1px solid aliceblue;padding:2%  " ngf-thumbnail="f || '/thumb.jpg'"/>
       </div>
   </div>
    <div class="row" align="center">
        <button class="btn waves-effect" ng-click="submit()">Submit</button>
    </div>
</div>

</div>


</div>



</div>